<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.makebono.mavenplayland.module_test.mapper.mybatismapper.MicroArchitectureMapper">
  <resultMap id="BaseResultMap" type="com.makebono.mavenplayland.module_test.module.entities.MicroArchitecture">
    <id column="MODEL" property="MODEL" jdbcType="VARCHAR" />
    <result column="CORE" property="CORE" jdbcType="VARCHAR" />
    <result column="BRAND" property="BRAND" jdbcType="VARCHAR" />
  </resultMap>
</mapper>