<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.makebono.mavenplayland.module_test.mapper.mybatismapper.StudentMapper">
    <resultMap id="BaseResultMap" type="com.makebono.mavenplayland.module_test.module.entities.Student">
        <id column="ID" property="ID" jdbcType="BIGINT" />
        <result column="GIVENNAME" property="GIVENNAME" jdbcType="VARCHAR" />
        <result column="SURNNAME" property="SURNNAME" jdbcType="VARCHAR" />
        <result column="UNIVERSITY" property="UNIVERSITY" jdbcType="VARCHAR" />
    </resultMap>
</mapper>