<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.makebono.mavenplayland.module_test.mapper.mybatismapper.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.makebono.mavenplayland.module_test.module.entities.UserRole">
    <id column="username" property="username" jdbcType="VARCHAR" />
    <result column="user_roles" property="user_roles" jdbcType="VARCHAR" />
  </resultMap>
</mapper>