<?xml version="1.0" encoding="UTF-8"?>
<!-- Remember to put this shit down at src/main/resources or you are fucked. Well, it depends on the path defined at web.xml-->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/aop   
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd   
        http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd   
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-4.0.xsd   
        http://www.springframework.org/schema/mvc   
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd   
        http://www.springframework.org/schema/tx   
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
        
    <bean class="com.makebono.mavenplayland.module_test.common.system.propertiesconfig.BonoPropertyConfigurer">
        <property name="fileEncoding" value="UTF-8" />
        <property name="configFiles">
            <list>
                <value>module-configurations.properties</value>
            </list>
        </property>
    </bean>        
    
    <bean id="bakatest" class="com.makebono.mavenplayland.module_test.common.system.BeanTestClass"
        init-method="init" />
   
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClass}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>

        <property name="filters" value="stat"/>

        <property name="maxActive" value="20"/>
        <property name="initialSize" value="1"/>
        <property name="maxWait" value="60000"/>
        <property name="minIdle" value="1"/>

        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <property name="minEvictableIdleTimeMillis" value="300000"/>

        <property name="validationQuery" value="SELECT 'x'"/>
        <property name="testWhileIdle" value="true"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations">
            <array>
                <value>classpath*:sqlmap/*.xml</value>
            </array>
        </property>
        <property name="typeAliasesPackage" value="com.makebono.mavenplayland.module_test.module.entities"/>
        
    </bean>

    <bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.makebono.mavenplayland.module_test.mapper.mybatismapper"/>

        <property name="markerInterface" value="com.makebono.mavenplayland.module_test.mapper.mybatismapper.BaseMapper"/>
    </bean>

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate" scope="prototype">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>   
   
    <!-- location of resources file -->
    <mvc:resources mapping="/views/images/**" location="/views/images/" />
    
    <!-- Ok to nestedly loading beans, check inside beans.xml file --> 
    <import resource="beans.xml" />       
    
    <aop:aspectj-autoproxy />        
    
    <!-- Define dozer mapper. -->
    <bean id="dozerBeanMapper" class="org.dozer.DozerBeanMapper" >
        <property name="mappingFiles">
            <list>
                <value>${resident.dozzer.mapper}</value>
            </list>
        </property>
    </bean>     
    
    <bean
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/views/" />
        <property name="suffix" value=".jsp" />
        <property name="order" value="1" />
    </bean>                 
    
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${mailsender.host}" />
        <property name="port" value="${mailsender.port}" />
        <property name="username" value="${mailsender.username}" />
        <property name="password" value="${mailsender.pw}" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">${mailsender.transport.protocol}</prop>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.debug">true</prop>                 
            </props>
        </property> 
    </bean>  
    
    <import resource="dubbo-provider-config.xml" />    
    
</beans>  