<?xml version="1.0" encoding="UTF-8"?>
<!-- Remember to put this shit down at src/main/resources or you are fucked.-->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/aop   
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd   
        http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd   
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-4.0.xsd   
        http://www.springframework.org/schema/mvc   
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd   
        http://www.springframework.org/schema/tx   
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
    
    <!-- Be careful about this. If you used mvc:annotation-driven, then must add this bean here. Since
         annotation-driven will automatically load RequestMappingHandlerAdapter bean, so load it here is
         a must if using customized binding initializer. -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
    <property name="webBindingInitializer">
        <bean class="com.makebono.mavenplayland.module_test.common.utils.CustomizedWebBindingInitializer"/> 
    </property>
    </bean>

    <mvc:annotation-driven />
    <context:annotation-config /> 
    <!-- <context:annotation-config></context:annotation-config> -->
    
    <!-- location of resources file -->
    <mvc:resources mapping="/views/images/**" location="/views/images/" />

    <!-- package needs to be scanned -->
    <context:component-scan base-package="com.makebono.mavenplayland.module_test">
    <!-- scan for classes annotated as service or controller -->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan> 
    
    <bean
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/views/" />
        <property name="suffix" value=".jsp" />
        <property name="order" value="1" />
    </bean>        
</beans>  