<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://dozer.sourceforge.net
      http://dozer.sourceforge.net/schema/beanmapping.xsd">
       
     <mapping>
        <class-a>com.makebono.mavenplayland.module_test.module.entities.Resident</class-a>
        <class-b>com.makebono.mavenplayland.module_test.module.entities.CoquitlamResident</class-b>
        
        <field>
            <a>id</a>
            <b>coquitlamId</b>
        </field>
        
        <field>
            <a>name</a>
            <b>fullName</b>
        </field>
        
        <field>
            <a>age</a>
            <b>currentAge</b>
        </field>
    </mapping>
</mappings>